$galleryC: #dfdfdf
.shop
  .products
    .col-md-3, .col-sm-3
      width: 23%
    .col-md-9, .col-sm-9
      width: 77%
    .wrapper_filter
      .cf
        > span
          font-size: 18px
          font-family: $sansBold
          text-transform: uppercase
          margin-top: 25px
          margin-bottom: 9px
          display: inline-block
        ul
          list-style: none
          margin: 0
          border: 0
          padding: 0
          li
            padding-top: 13px
            padding-bottom: 13px
            border-bottom: 1px solid #e7e7e7
            position: relative
            display: flex
            justify-content: space-between
            align-items: center
            input[type="checkbox"]
              display: none
            label
              width: 14px
              height: 14px
              position: relative
              bottom: 0
              margin-bottom: 0
              float: right
              display: flex
              align-items: center
              justify-content: center

            input[type="checkbox"] + label span
              display: inline-block
              width: 100%
              height: 100%
              margin: -1px 0 0 0
              vertical-align: middle
              background: url(../images/checkbox.png) left top no-repeat
              cursor: pointer

            input[type="checkbox"]:checked + label span
              background: url(../images/checkbox_checked.png) left top no-repeat

            //input
              //position: absolute
              //right: 0
              //top: calc(50% - 11px)
              //left: auto
              //bottom: auto
              //box-sizing: border-box
              //width: 22px
              //height: 22px
              //content: ""
              //border: 1px solid black
              //display: block
              //background-color: #122b40

            a
              text-decoration: none
              color: #887f80
              text-transform: uppercase
              font-size: 12px
        .colors
          li
            display: inline-block
            border-bottom: 0
            a
              display: inline-block
              height: 30px
              width: 30px
              margin-right: 5px
      .price_filter
        .ui-slider
          margin-top: 40px
          margin-bottom: 15px
          position: relative
          text-align: left
          font-size: 1.1em
          height: .3em
          border: 1px solid #e8e8e8
          color: #222222
          background-color: #e8e8e8
          .ui-slider-range
            position: absolute
            z-index: 1
            font-size: .7em
            display: block
            border: 0
            background-position: 0 0
            top: 0
            height: 100%
          .ui-widget-header
            color: #2f2f2f
            font-weight: bold
            background-color: #2f2f2f

          .ui-slider-handle
            position: absolute
            z-index: 2
            width: 1.2em
            height: 1.2em
            cursor: default
            -ms-touch-action: none
            touch-action: none
            top: -.5em
            margin-left: -.6em
            border-radius: 30px
          .ui-state-default
            border: 1px solid #2f2f2f
            background-color: #2f2f2f
            font-weight: normal
            color: #555555
          .ui-state-hover, .ui-state-focus
            //background-color: #4b4a4a ========CHANGE===========
            outline: none
        .ui-corner-all
          border-radius: 4px
        p
          input
            border: 0
            color: #887f80
            font-weight: bold
            max-width: 60px
      .sale
        margin-top: 50px
        margin-bottom: 50px
        img
          width: 100%
          height: auto
.d-goods-header
  display: flex
  height: 59px
  margin-top: 10px
  span
    margin-right: 5px
    font-family: $sansBold
  .left-header
    display: flex
    align-items: center
    margin-left: 30px
    #grid3, #grid1
      width: 40px
      height: 40px
      display: flex
      margin-left: 10px
      justify-content: center
      align-items: center
      text-decoration: none
      cursor: pointer
      border: 1px solid #ececec
      transition: 0.4s
      color: #c2c2c2
      font-size: 20px
      border-radius: 3px
      outline: none
      i
        margin-bottom: -2px
    #grid3
      background-color: #e77075
      color: white
    a:hover
      background-color: #c2c2c2 !important
      i
        color: white
  .right-header
    display: flex
    height: 59px
    align-items: center
    position: absolute
    right: 0
    top: 10px
    label
      overflow: hidden
      margin-bottom: 0
      background: url("../images/arrow.png") no-repeat 95%
      margin-left: 15px
      select
        height: 40px
        width: 180px
        background: transparent
        padding: 6px 18px 6px 12px
        -webkit-appearance: none
        -moz-appearance: none
        appearance: none
        font-weight: 400
.d-goods-gallery
  margin-right: -30px !important
  .gallery-item
    cursor: pointer
    position: relative
    width: 100%
    height: auto
  .gallery-content
    margin-left: 15px
  .shop-menu
    display: flex
    flex-wrap: wrap
    .col-md2
      //shop.list3
      width: 33.3333%
      position: relative
      min-height: 1px
      padding-right: 15px
      padding-left: 15px
      .btn-screen, .btn-like, .btn-cart
        width: 40px
        height: 40px
        color: white
        padding: 10px 11px
        float: right
        margin-left: 10px
        margin-top: 10px
        background-color: #2f2f2f
        i
          font-size: 16px
      .gallery-item
        border: 1px solid transparent
        .view
          display: flex
          flex-direction: column-reverse
          position: absolute
          margin-left: 10px
          margin-top: 10px
          opacity: 0
          transition: 0.2s ease-out
          transition-delay: 0.1s
      .gallery-item::before
        width: 100%
        height: 100%
        position: absolute
        background: linear-gradient(to bottom, transparent, #4c4d4c)
        display: block
        content: ''
        opacity: 0
        transition: .4s
      .gallery-item:hover
        border-color: #e77075
        -o-transition: color .4s ease-out, background .2s ease-in
        -ms-transition: color .4s ease-out, background .2s ease-in
        -moz-transition: color .4s ease-out, background .2s ease-in
        -webkit-transition: color .4s ease-out, background .2s ease-in
        transition: color .4s ease-out, background .2s ease-in
        box-shadow: 0 0 5px rgba(231,112,117,0.6)
        .view
          opacity: 1
        &::before
          opacity: 0.2
        .btn-like:hover, .btn-screen:hover, .btn-cart:hover
          background-color: #e77075
          -o-transition: color .4s ease-out, background .2s ease-in
          -ms-transition: color .4s ease-out, background .2s ease-in
          -moz-transition: color .4s ease-out, background .2s ease-in
          -webkit-transition: color .4s ease-out, background .2s ease-in
          transition: color .4s ease-out, background .2s ease-in
    .col-md1
      //shop.list1
      width: 100%
      position: relative
      min-height: 1px
      padding-right: 15px
      padding-left: 15px
      .gallery
        display: inline-block
        width: 100%
        height: 292px
        overflow: hidden
        margin-bottom: 30px
        border: 1px solid $galleryC
        transition: 0.4s
        .gallery-item
          width: 270px
          display: inline-block
          float: left
          border-right: 1px solid $galleryC
          transition: 0.4s
        section
          width: calc(100% - 272px)
          height: 100%
          float: left
          padding: 30px
          h4
            font-family: $sansRegul
            font-size: 22px
            margin-top: 0
          .price
            font-size: 18px
            margin-top: 22px
            display: block
          .star-rating
            float: none
          span
            font-size: 12px
            text-transform: uppercase
            color: #e77075
            margin-left: 15px
            vertical-align: middle
            font-family: $sansBold, sans-serif
          p
            font-size: 14px
            font-family: $sansRegul, sans-serif
            color: #848484
            margin-top: 22px
            margin-bottom: 26px
          button
            width: 180px
            height: 40px
            font-family: $sansRegul, sans-serif
            text-transform: uppercase
            color: #848484
            background-color: white
            border-radius: 25px
            border-color: #848484
            outline: none
            position: relative
          .btn-screen, .btn-like
            width: 40px
            height: 40px
            color: white
            padding: 10px 11px
            float: right
            margin-left: 10px
            background-color: #2f2f2f
            i
              font-size: 16px
      .gallery:hover
        $galleryC: #e77075
        border-color: $galleryC
        box-shadow: 0 0 5px rgba(231,112,117,0.6)
        .gallery-item
          border-right-color: $galleryC
        button:hover
          background-color: $galleryC
          color: white
          border-color: $galleryC
          -o-transition: color .4s ease-out, background .2s ease-in
          -ms-transition: color .4s ease-out, background .2s ease-in
          -moz-transition: color .4s ease-out, background .2s ease-in
          -webkit-transition: color .4s ease-out, background .2s ease-in
          transition: color .4s ease-out, background .2s ease-in
        .btn-like:hover, .btn-screen:hover
          background-color: $galleryC
          -o-transition: color .4s ease-out, background .2s ease-in
          -ms-transition: color .4s ease-out, background .2s ease-in
          -moz-transition: color .4s ease-out, background .2s ease-in
          -webkit-transition: color .4s ease-out, background .2s ease-in
          transition: color .4s ease-out, background .2s ease-in

// ===== pages.html =======
.pages
  .pages-col
    width: 100%
    .left-header
      margin-left: 0








