.shop .products .col-md-3, .shop .products .col-sm-3 {
  width: 23%; }
.shop .products .col-md-9, .shop .products .col-sm-9 {
  width: 77%; }
.shop .products .wrapper_filter .cf > span {
  font-size: 18px;
  font-family: "Open Sans Semibold";
  text-transform: uppercase;
  margin-top: 25px;
  margin-bottom: 9px;
  display: inline-block; }
.shop .products .wrapper_filter .cf ul {
  list-style: none;
  margin: 0;
  border: 0;
  padding: 0; }
  .shop .products .wrapper_filter .cf ul li {
    padding-top: 13px;
    padding-bottom: 13px;
    border-bottom: 1px solid #e7e7e7;
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center; }
    .shop .products .wrapper_filter .cf ul li input[type="checkbox"] {
      display: none; }
    .shop .products .wrapper_filter .cf ul li label {
      width: 14px;
      height: 14px;
      position: relative;
      bottom: 0;
      margin-bottom: 0;
      float: right;
      display: flex;
      align-items: center;
      justify-content: center; }
    .shop .products .wrapper_filter .cf ul li input[type="checkbox"] + label span {
      display: inline-block;
      width: 100%;
      height: 100%;
      margin: -1px 0 0 0;
      vertical-align: middle;
      background: url(../images/checkbox.png) left top no-repeat;
      cursor: pointer; }
    .shop .products .wrapper_filter .cf ul li input[type="checkbox"]:checked + label span {
      background: url(../images/checkbox_checked.png) left top no-repeat; }
    .shop .products .wrapper_filter .cf ul li a {
      text-decoration: none;
      color: #887f80;
      text-transform: uppercase;
      font-size: 12px; }
.shop .products .wrapper_filter .cf .colors li {
  display: inline-block;
  border-bottom: 0; }
  .shop .products .wrapper_filter .cf .colors li a {
    display: inline-block;
    height: 30px;
    width: 30px;
    margin-right: 5px; }
.shop .products .wrapper_filter .price_filter .ui-slider {
  margin-top: 40px;
  margin-bottom: 15px;
  position: relative;
  text-align: left;
  font-size: 1.1em;
  height: 0.3em;
  border: 1px solid #e8e8e8;
  color: #222222;
  background-color: #e8e8e8; }
  .shop .products .wrapper_filter .price_filter .ui-slider .ui-slider-range {
    position: absolute;
    z-index: 1;
    font-size: 0.7em;
    display: block;
    border: 0;
    background-position: 0 0;
    top: 0;
    height: 100%; }
  .shop .products .wrapper_filter .price_filter .ui-slider .ui-widget-header {
    color: #2f2f2f;
    font-weight: bold;
    background-color: #2f2f2f; }
  .shop .products .wrapper_filter .price_filter .ui-slider .ui-slider-handle {
    position: absolute;
    z-index: 2;
    width: 1.2em;
    height: 1.2em;
    cursor: default;
    -ms-touch-action: none;
    touch-action: none;
    top: -0.5em;
    margin-left: -0.6em;
    border-radius: 30px; }
  .shop .products .wrapper_filter .price_filter .ui-slider .ui-state-default {
    border: 1px solid #2f2f2f;
    background-color: #2f2f2f;
    font-weight: normal;
    color: #555555; }
  .shop .products .wrapper_filter .price_filter .ui-slider .ui-state-hover, .shop .products .wrapper_filter .price_filter .ui-slider .ui-state-focus {
    outline: none; }
.shop .products .wrapper_filter .price_filter .ui-corner-all {
  border-radius: 4px; }
.shop .products .wrapper_filter .price_filter p input {
  border: 0;
  color: #887f80;
  font-weight: bold;
  max-width: 60px; }
.shop .products .wrapper_filter .sale {
  margin-top: 50px;
  margin-bottom: 50px; }
  .shop .products .wrapper_filter .sale img {
    width: 100%;
    height: auto; }

.d-goods-header {
  display: flex;
  height: 59px;
  margin-top: 10px; }
  .d-goods-header span {
    margin-right: 5px;
    font-family: "Open Sans Semibold"; }
  .d-goods-header .left-header {
    display: flex;
    align-items: center;
    margin-left: 30px; }
    .d-goods-header .left-header #grid3, .d-goods-header .left-header #grid1 {
      width: 40px;
      height: 40px;
      display: flex;
      margin-left: 10px;
      justify-content: center;
      align-items: center;
      text-decoration: none;
      cursor: pointer;
      border: 1px solid #ececec;
      transition: 0.4s;
      color: #c2c2c2;
      font-size: 20px;
      border-radius: 3px;
      outline: none; }
      .d-goods-header .left-header #grid3 i, .d-goods-header .left-header #grid1 i {
        margin-bottom: -2px; }
    .d-goods-header .left-header #grid3 {
      background-color: #e77075;
      color: white; }
    .d-goods-header .left-header a:hover {
      background-color: #c2c2c2 !important; }
      .d-goods-header .left-header a:hover i {
        color: white; }
  .d-goods-header .right-header {
    display: flex;
    height: 59px;
    align-items: center;
    position: absolute;
    right: 0;
    top: 10px; }
    .d-goods-header .right-header label {
      overflow: hidden;
      margin-bottom: 0;
      background: url("../images/arrow.png") no-repeat 95%;
      margin-left: 15px; }
      .d-goods-header .right-header label select {
        height: 40px;
        width: 180px;
        background: transparent;
        padding: 6px 18px 6px 12px;
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
        font-weight: 400; }

.d-goods-gallery {
  margin-right: -30px !important; }
  .d-goods-gallery .gallery-item {
    cursor: pointer;
    position: relative;
    width: 100%;
    height: auto; }
  .d-goods-gallery .gallery-content {
    margin-left: 15px; }
  .d-goods-gallery .shop-menu {
    display: flex;
    flex-wrap: wrap; }
    .d-goods-gallery .shop-menu .col-md2 {
      width: 33.3333%;
      position: relative;
      min-height: 1px;
      padding-right: 15px;
      padding-left: 15px; }
      .d-goods-gallery .shop-menu .col-md2 .btn-screen, .d-goods-gallery .shop-menu .col-md2 .btn-like, .d-goods-gallery .shop-menu .col-md2 .btn-cart {
        width: 40px;
        height: 40px;
        color: white;
        padding: 10px 11px;
        float: right;
        margin-left: 10px;
        margin-top: 10px;
        background-color: #2f2f2f; }
        .d-goods-gallery .shop-menu .col-md2 .btn-screen i, .d-goods-gallery .shop-menu .col-md2 .btn-like i, .d-goods-gallery .shop-menu .col-md2 .btn-cart i {
          font-size: 16px; }
      .d-goods-gallery .shop-menu .col-md2 .gallery-item {
        border: 1px solid transparent; }
        .d-goods-gallery .shop-menu .col-md2 .gallery-item .view {
          display: flex;
          flex-direction: column-reverse;
          position: absolute;
          margin-left: 10px;
          margin-top: 10px;
          opacity: 0;
          transition: 0.2s ease-out;
          transition-delay: 0.1s; }
      .d-goods-gallery .shop-menu .col-md2 .gallery-item::before {
        width: 100%;
        height: 100%;
        position: absolute;
        background: linear-gradient(to bottom, transparent, #4c4d4c);
        display: block;
        content: "";
        opacity: 0;
        transition: 0.4s; }
      .d-goods-gallery .shop-menu .col-md2 .gallery-item:hover {
        border-color: #e77075;
        -o-transition: color 0.4s ease-out, background 0.2s ease-in;
        -ms-transition: color 0.4s ease-out, background 0.2s ease-in;
        -moz-transition: color 0.4s ease-out, background 0.2s ease-in;
        -webkit-transition: color 0.4s ease-out, background 0.2s ease-in;
        transition: color 0.4s ease-out, background 0.2s ease-in;
        box-shadow: 0 0 5px rgba(231, 112, 117, 0.6); }
        .d-goods-gallery .shop-menu .col-md2 .gallery-item:hover .view {
          opacity: 1; }
        .d-goods-gallery .shop-menu .col-md2 .gallery-item:hover::before {
          opacity: 0.2; }
        .d-goods-gallery .shop-menu .col-md2 .gallery-item:hover .btn-like:hover, .d-goods-gallery .shop-menu .col-md2 .gallery-item:hover .btn-screen:hover, .d-goods-gallery .shop-menu .col-md2 .gallery-item:hover .btn-cart:hover {
          background-color: #e77075;
          -o-transition: color 0.4s ease-out, background 0.2s ease-in;
          -ms-transition: color 0.4s ease-out, background 0.2s ease-in;
          -moz-transition: color 0.4s ease-out, background 0.2s ease-in;
          -webkit-transition: color 0.4s ease-out, background 0.2s ease-in;
          transition: color 0.4s ease-out, background 0.2s ease-in; }
    .d-goods-gallery .shop-menu .col-md1 {
      width: 100%;
      position: relative;
      min-height: 1px;
      padding-right: 15px;
      padding-left: 15px; }
      .d-goods-gallery .shop-menu .col-md1 .gallery {
        display: inline-block;
        width: 100%;
        height: 292px;
        overflow: hidden;
        margin-bottom: 30px;
        border: 1px solid #dfdfdf;
        transition: 0.4s; }
        .d-goods-gallery .shop-menu .col-md1 .gallery .gallery-item {
          width: 270px;
          display: inline-block;
          float: left;
          border-right: 1px solid #dfdfdf;
          transition: 0.4s; }
        .d-goods-gallery .shop-menu .col-md1 .gallery section {
          width: calc(100% - 272px);
          height: 100%;
          float: left;
          padding: 30px; }
          .d-goods-gallery .shop-menu .col-md1 .gallery section h4 {
            font-family: "Open Sans Regular";
            font-size: 22px;
            margin-top: 0; }
          .d-goods-gallery .shop-menu .col-md1 .gallery section .price {
            font-size: 18px;
            margin-top: 22px;
            display: block; }
          .d-goods-gallery .shop-menu .col-md1 .gallery section .star-rating {
            float: none; }
          .d-goods-gallery .shop-menu .col-md1 .gallery section span {
            font-size: 12px;
            text-transform: uppercase;
            color: #e77075;
            margin-left: 15px;
            vertical-align: middle;
            font-family: "Open Sans Semibold", sans-serif; }
          .d-goods-gallery .shop-menu .col-md1 .gallery section p {
            font-size: 14px;
            font-family: "Open Sans Regular", sans-serif;
            color: #848484;
            margin-top: 22px;
            margin-bottom: 26px; }
          .d-goods-gallery .shop-menu .col-md1 .gallery section button {
            width: 180px;
            height: 40px;
            font-family: "Open Sans Regular", sans-serif;
            text-transform: uppercase;
            color: #848484;
            background-color: white;
            border-radius: 25px;
            border-color: #848484;
            outline: none;
            position: relative; }
          .d-goods-gallery .shop-menu .col-md1 .gallery section .btn-screen, .d-goods-gallery .shop-menu .col-md1 .gallery section .btn-like {
            width: 40px;
            height: 40px;
            color: white;
            padding: 10px 11px;
            float: right;
            margin-left: 10px;
            background-color: #2f2f2f; }
            .d-goods-gallery .shop-menu .col-md1 .gallery section .btn-screen i, .d-goods-gallery .shop-menu .col-md1 .gallery section .btn-like i {
              font-size: 16px; }
      .d-goods-gallery .shop-menu .col-md1 .gallery:hover {
        border-color: #e77075;
        box-shadow: 0 0 5px rgba(231, 112, 117, 0.6); }
        .d-goods-gallery .shop-menu .col-md1 .gallery:hover .gallery-item {
          border-right-color: #e77075; }
        .d-goods-gallery .shop-menu .col-md1 .gallery:hover button:hover {
          background-color: #e77075;
          color: white;
          border-color: #e77075;
          -o-transition: color 0.4s ease-out, background 0.2s ease-in;
          -ms-transition: color 0.4s ease-out, background 0.2s ease-in;
          -moz-transition: color 0.4s ease-out, background 0.2s ease-in;
          -webkit-transition: color 0.4s ease-out, background 0.2s ease-in;
          transition: color 0.4s ease-out, background 0.2s ease-in; }
        .d-goods-gallery .shop-menu .col-md1 .gallery:hover .btn-like:hover, .d-goods-gallery .shop-menu .col-md1 .gallery:hover .btn-screen:hover {
          background-color: #e77075;
          -o-transition: color 0.4s ease-out, background 0.2s ease-in;
          -ms-transition: color 0.4s ease-out, background 0.2s ease-in;
          -moz-transition: color 0.4s ease-out, background 0.2s ease-in;
          -webkit-transition: color 0.4s ease-out, background 0.2s ease-in;
          transition: color 0.4s ease-out, background 0.2s ease-in; }

.pages .pages-col {
  width: 100%; }
  .pages .pages-col .left-header {
    margin-left: 0; }
  .pages .pages-col .gallery-content {
    margin-left: 0; }
    .pages .pages-col .gallery-content .col-md2 {
      width: 25%; }
    .pages .pages-col .gallery-content .shop-menu {
      margin-left: -15px; }

.details .current-goods {
  margin-bottom: 40px;
  margin-top: 25px; }
  .details .current-goods .gallery {
    display: flex; }
    .details .current-goods .gallery .gallery-item {
      width: 470px;
      height: 386px;
      overflow: hidden;
      display: inline-block;
      border: 1px solid #dfdfdf;
      position: relative; }
      .details .current-goods .gallery .gallery-item img {
        width: 100%;
        position: absolute;
        top: -40%; }
    .details .current-goods .gallery .gallery-wrapper {
      display: flex; }
      .details .current-goods .gallery .gallery-wrapper ul {
        display: flex;
        align-content: space-between;
        flex-wrap: wrap;
        width: 90px;
        margin-left: 10px;
        margin-right: 10px;
        list-style: none;
        padding-left: 0;
        margin-bottom: 0; }
        .details .current-goods .gallery .gallery-wrapper ul li {
          height: 90px;
          overflow: hidden;
          border: 1px solid #dfdfdf; }
        .details .current-goods .gallery .gallery-wrapper ul a img {
          width: 100%; }
  .details .current-goods .good-shop {
    margin-left: 15px;
    height: 386px;
    border-bottom: 1px solid #ddd; }
    .details .current-goods .good-shop h3 {
      font-family: "Open Sans Regular";
      font-size: 28px;
      text-transform: uppercase;
      margin-top: 0; }
    .details .current-goods .good-shop p {
      color: #a8a8a8; }
    .details .current-goods .good-shop > a {
      display: block; }
    .details .current-goods .good-shop > span {
      font-size: 12px;
      text-transform: uppercase;
      color: #e77075;
      margin-left: 15px;
      vertical-align: middle;
      font-family: "Open Sans Semibold", sans-serif; }
    .details .current-goods .good-shop .rating-container {
      color: #aba8a8; }
    .details .current-goods .good-shop .star-rating {
      font-size: 13px;
      display: inline-block; }
    .details .current-goods .good-shop .rating-stars {
      color: black; }
    .details .current-goods .good-shop section {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-bottom: 20px; }
      .details .current-goods .good-shop section a {
        color: #b8b8b8;
        margin-left: 20px; }
      .details .current-goods .good-shop section .qty-section {
        display: flex;
        align-items: center; }
        .details .current-goods .good-shop section .qty-section select {
          width: 90px;
          height: 36px; }
          .details .current-goods .good-shop section .qty-section select + span {
            text-decoration: line-through;
            margin-left: 20px; }
      .details .current-goods .good-shop section span {
        font-size: 20px;
        margin-left: 10px; }
      .details .current-goods .good-shop section .price {
        font-size: 35px;
        font-family: "Open Sans Semibold";
        color: #e77075; }
    .details .current-goods .good-shop .form {
      margin-top: 10px;
      padding-bottom: 30px;
      margin-bottom: 25px;
      display: flex;
      justify-content: space-between;
      border-bottom: 1px solid #ddd; }
      .details .current-goods .good-shop .form label {
        margin-bottom: 0; }
      .details .current-goods .good-shop .form .colr {
        width: 190px;
        height: 38px; }
      .details .current-goods .good-shop .form .sze {
        width: 136px;
        height: 38px; }
      .details .current-goods .good-shop .form > a {
        vertical-align: top;
        width: 170px;
        height: 38px; }
        .details .current-goods .good-shop .form > a i {
          margin-right: 10px;
          vertical-align: middle; }
    .details .current-goods .good-shop .social {
      margin-top: 9px; }
      .details .current-goods .good-shop .social span {
        margin-left: 15px;
        margin-right: 15px;
        color: #2f2f2f; }
.details .addcart {
  width: 180px;
  height: 40px;
  font-family: "Open Sans Regular", sans-serif;
  text-transform: uppercase;
  color: #d8d8d8;
  background-color: #2f2f2f;
  border-radius: 25px;
  border-color: #2f2f2f;
  outline: none;
  position: relative; }
  .details .addcart:hover {
    background-color: #dfdfdf;
    color: black; }
.details .current-goods-info .items1 {
  cursor: pointer; }
  .details .current-goods-info .items1 a {
    color: #c2c2c2; }
  .details .current-goods-info .items1 .active a {
    color: #2f2f2f !important; }
.details .current-goods-info #second form {
  position: relative; }
  .details .current-goods-info #second form p {
    margin-top: 24px;
    margin-bottom: 24px;
    font-size: 16px;
    font-family: "Open Sans Semibold"; }
  .details .current-goods-info #second form label {
    width: 48%;
    max-width: 266px;
    margin-bottom: 30px; }
  .details .current-goods-info #second form .form-control::-moz-placeholder {
    color: #848484;
    font-size: 14px;
    font-family: "Open Sans Semibold", sans-serif; }
  .details .current-goods-info #second form .form-control::-webkit-input-placeholder {
    color: #848484;
    font-size: 14px;
    font-family: "Open Sans Semibold", sans-serif; }
  .details .current-goods-info #second form textarea::-webkit-input-placeholder {
    color: #848484;
    font-size: 14px;
    font-family: "Open Sans Semibold", sans-serif; }
  .details .current-goods-info #second form textarea {
    min-height: 118px;
    margin-bottom: 30px; }
  .details .current-goods-info #second form section {
    position: relative; }
  .details .current-goods-info #second form .rating-container {
    color: #aba8a8; }
  .details .current-goods-info #second form .star-rating {
    font-size: 16px;
    display: inline-block;
    position: absolute;
    right: 0;
    top: calc(50% - 12px); }
  .details .current-goods-info #second form .rating-stars {
    color: black; }

.comments-content article {
  margin-left: -15px; }
.comments-content a {
  display: block;
  padding: 0 20px;
  color: #848484;
  text-decoration: none; }
  .comments-content a:hover {
    color: #848484;
    text-decoration: none; }
  .comments-content a .media {
    padding: 15px 0; }
    .comments-content a .media img {
      width: 50px;
      height: auto; }
    .comments-content a .media .media-top {
      display: flex;
      justify-content: space-between;
      margin-bottom: 10px; }
      .comments-content a .media .media-top .rating-container {
        color: #aba8a8; }
      .comments-content a .media .media-top .star-rating {
        font-size: 13px;
        display: inline-block; }
      .comments-content a .media .media-top .rating-stars {
        color: black; }
      .comments-content a .media .media-top .media-meta {
        display: inline-block; }
    .comments-content a .media .media-content {
      margin-bottom: 10px;
      font-family: "Open Sans Regular"; }
    .comments-content a .media .user-name h3 {
      font-size: 14px;
      font-family: "Open Sans Semibold";
      color: #2f2f2f;
      margin: 0; }

.blog .blog-pg #hideb1, .blog .blog-pg #hideb2, .blog .blog-pg #hideb3 {
  display: none; }
.blog .blog-pg header {
  text-align: center;
  position: relative;
  margin-top: 20px;
  margin-bottom: 20px; }
  .blog .blog-pg header h2 {
    margin: 0;
    display: inline-block;
    position: relative;
    font-family: "Open Sans Semibold";
    font-size: 25px;
    color: #0a0a0a; }
  .blog .blog-pg header h2:before, .blog .blog-pg header h2:after {
    content: "";
    position: absolute;
    height: 50%;
    border-bottom: 2px solid #dadada;
    top: 0;
    width: 25px; }
  .blog .blog-pg header h2:before {
    right: 100%;
    margin-right: 8px; }
  .blog .blog-pg header h2:after {
    left: 100%;
    margin-left: 8px; }
.blog .blog-pg .blog_feed {
  margin-bottom: 60px; }
  .blog .blog-pg .blog_feed .media-left {
    position: relative; }
    .blog .blog-pg .blog_feed .media-left .data {
      position: absolute;
      color: white;
      background-color: #7a7a7a;
      width: 42px;
      height: 42px;
      text-align: center;
      right: 10px;
      opacity: 0;
      transition: 0.4s; }
    .blog .blog-pg .blog_feed .media-left:hover .data {
      opacity: 1; }
  .blog .blog-pg .blog_feed .media-body {
    margin-left: 20px; }
    .blog .blog-pg .blog_feed .media-body .media-content {
      min-height: 310px;
      position: relative;
      padding: 0 20px; }
      .blog .blog-pg .blog_feed .media-body .media-content button {
        position: static; }
    .blog .blog-pg .blog_feed .media-body h3 {
      margin-top: 0;
      font-size: 22px;
      font-family: "Open Sans Regular", sans-serif;
      color: #2f2f2f; }
    .blog .blog-pg .blog_feed .media-body button {
      width: 180px;
      height: 40px;
      bottom: 0;
      font-family: "Open Sans Regular", sans-serif;
      text-transform: uppercase;
      color: #848484;
      background-color: white;
      border-radius: 25px;
      border-color: #dfdfdf;
      outline: none;
      position: absolute;
      transition: all 0.3s ease 0s; }
      .blog .blog-pg .blog_feed .media-body button:hover {
        background-color: #e77075;
        border-color: #e77075;
        color: white; }
    .blog .blog-pg .blog_feed .media-body .media-write {
      display: flex;
      margin-bottom: 15px; }
      .blog .blog-pg .blog_feed .media-body .media-write a {
        padding-right: 20px;
        color: #a8a8a8;
        text-decoration: none; }
        .blog .blog-pg .blog_feed .media-body .media-write a:hover {
          text-decoration: none;
          color: #a8a8a8;
          cursor: pointer; }
        .blog .blog-pg .blog_feed .media-body .media-write a i {
          padding-right: 5px; }
    .blog .blog-pg .blog_feed .media-body p {
      color: #a8a8a8;
      margin-bottom: 25px;
      font-family: "Open Sans Regular", sans-serif; }
  .blog .blog-pg .blog_feed .top_media_photo {
    padding-right: 20px;
    display: block;
    height: 340px;
    overflow: hidden; }
    .blog .blog-pg .blog_feed .top_media_photo .data {
      right: 30px;
      top: 10px; }
    .blog .blog-pg .blog_feed .top_media_photo img {
      width: 100%; }
  .blog .blog-pg .blog_feed .media_bar {
    margin-left: 0;
    display: block;
    width: 100%; }
    .blog .blog-pg .blog_feed .media_bar .row-l {
      margin-left: -20px; }
    .blog .blog-pg .blog_feed .media_bar h3 {
      margin-top: 25px; }
.blog .blog-menu {
  position: relative; }
  .blog .blog-menu .form-material {
    position: relative;
    margin-top: 20px;
    margin-bottom: 20px; }
    .blog .blog-menu .form-material label {
      position: absolute;
      left: 0;
      font-size: 14px;
      color: #757575;
      pointer-events: none;
      -webkit-transition: 0.3s ease all;
      -o-transition: 0.3s ease all;
      transition: 0.3s ease all; }
    .blog .blog-menu .form-material .floating-label {
      top: 8px;
      font-size: 14px; }
    .blog .blog-menu .form-material .form-control {
      color: #757575;
      background: transparent center bottom, center calc(100% - 1px) no-repeat;
      box-shadow: none;
      border: 0;
      border-bottom: 2px solid #e0e0e0;
      transition: box-shadow 0.25s linear, border 0.25s linear, color 0.25s linear, background-color 0.25s linear; }
    .blog .blog-menu .form-material .form-control ~ .floating-label {
      top: 8px;
      font-size: 14px; }
    .blog .blog-menu .form-material .form-control:not(select) {
      -webkit-appearance: none;
      -moz-appearance: none;
      appearance: none; }
    .blog .blog-menu .form-material .floating-label {
      position: absolute;
      left: 0;
      font-size: 14px;
      color: #757575;
      pointer-events: none;
      -webkit-transition: 0.3s ease all;
      -o-transition: 0.3s ease all;
      transition: 0.3s ease all; }
      .blog .blog-menu .form-material .floating-label ~ a {
        color: black;
        position: absolute;
        right: 10px;
        top: 8px;
        transition: 0.3s ease all;
        opacity: 1; }
    .blog .blog-menu .form-material .form-control:focus {
      float: none;
      background-image: -webkit-gradient(linear, left top, left bottom, from(#3f51b5), to(#3f51b5)), -webkit-gradient(linear, left top, left bottom, from(#e0e0e0), to(#e0e0e0));
      background-image: -webkit-linear-gradient(#3f51b5, #3f51b5), -webkit-linear-gradient(#e0e0e0, #e0e0e0);
      background-image: -o-linear-gradient(#3f51b5, #3f51b5), -o-linear-gradient(#e0e0e0, #e0e0e0);
      background-image: linear-gradient(#3f51b5, #3f51b5), linear-gradient(#e0e0e0, #e0e0e0);
      border: 0;
      border-radius: 0;
      -webkit-box-shadow: none;
      box-shadow: none;
      -webkit-background-size: 100% 2px, 100% 1px;
      background-size: 100% 2px, 100% 1px;
      outline: 0;
      -webkit-transition-duration: 0.3s;
      -o-transition-duration: 0.3s;
      transition-duration: 0.3s;
      background: 0 0;
      border-bottom: 2px solid #3f51b5; }
      .blog .blog-menu .form-material .form-control:focus ~ .floating-label {
        top: -11.2px;
        font-size: 11.2px; }
      .blog .blog-menu .form-material .form-control:focus ~ a {
        opacity: 0; }
    .blog .blog-menu .form-material .form-control:not(.empty) ~ .floating-label {
      top: -11.2px;
      font-size: 11.2px; }
    .blog .blog-menu .form-material .form-control:-webkit-autofill ~ .floating-label {
      top: -11.2px;
      font-size: 11.2px; }
.blog .blog_filter .cf > span {
  font-size: 18px;
  font-family: "Open Sans Semibold";
  text-transform: uppercase;
  margin-top: 25px;
  margin-bottom: 9px;
  display: inline-block; }
.blog .blog_filter .cf ul {
  list-style: none;
  margin: 0;
  border: 0;
  padding: 0; }
  .blog .blog_filter .cf ul li {
    padding-top: 13px;
    padding-bottom: 13px;
    border-bottom: 1px solid #e7e7e7;
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center; }
    .blog .blog_filter .cf ul li span {
      color: #887f80; }
    .blog .blog_filter .cf ul li a {
      text-decoration: none;
      color: #887f80;
      text-transform: uppercase;
      font-size: 12px; }
      .blog .blog_filter .cf ul li a .media {
        padding: 0; }
      .blog .blog_filter .cf ul li a .media-body {
        color: #2f2f2f;
        font-family: "Open Sans Regular", sans-serif;
        font-size: 14px; }
        .blog .blog_filter .cf ul li a .media-body p {
          text-transform: none; }
        .blog .blog_filter .cf ul li a .media-body time {
          font-family: "Open Sans Semibold", sans-serif;
          font-size: 12px; }
        .blog .blog_filter .cf ul li a .media-body .media-top {
          margin-bottom: 4px; }

body {
  font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif; }

header nav {
  margin-bottom: 0 !important; }
  header nav .container-fluid {
    margin-left: -30px;
    margin-right: -30px;
    background-color: white; }
    header nav .container-fluid .menu {
      display: inline-block;
      border-bottom: none; }
      header nav .container-fluid .menu > li {
        position: static; }
      header nav .container-fluid .menu li .menu-item {
        padding-left: 0;
        padding-right: 0;
        margin-right: 75px;
        text-transform: uppercase;
        color: black;
        font-family: "Open Sans Semibold";
        cursor: pointer;
        background: none;
        outline: none; }
      header nav .container-fluid .menu .menu-item:hover {
        border-color: white; }
      header nav .container-fluid .menu .menu-item:hover::before, header nav .container-fluid .menu a:focus::before, header nav .container-fluid .menu a:hover::after, header nav .container-fluid .menu a:focus::after {
        opacity: 1;
        -webkit-transform: translateY(-5px);
        -moz-transform: translateY(-5px);
        transform: translateY(-5px); }
      header nav .container-fluid .menu .menu-item::before {
        position: absolute;
        left: 0;
        width: 100%;
        height: 2px;
        background: black;
        content: "";
        opacity: 0;
        transition: opacity 0.4s, transform 0.3s;
        transform: translateY(-30px); }
      header nav .container-fluid .menu .menu-item::after {
        bottom: 0;
        position: absolute;
        left: 0;
        width: 100%;
        height: 2px;
        background: black;
        content: "";
        opacity: 0;
        transition: opacity 0.4s, transform 0.3s;
        transform: translateY(30px); }
      header nav .container-fluid .menu .dropdown-list {
        position: absolute;
        left: -9999px; }
    header nav .container-fluid .social {
      align-items: center;
      margin-left: auto;
      justify-content: flex-end; }
      header nav .container-fluid .social a {
        border: none !important;
        margin-left: 15px;
        font-size: 16px; }
      header nav .container-fluid .social .facebook:hover {
        color: #3b55a0; }
      header nav .container-fluid .social .twitter:hover {
        color: #1b95e0; }
      header nav .container-fluid .social .google-plus:hover {
        color: red; }
      header nav .container-fluid .social .dribbble:hover {
        color: #e77075; }
      header nav .container-fluid .social .linkedin:hover {
        color: dodgerblue; }
    header nav .container-fluid .navbar-header {
      padding-top: 33px;
      padding-bottom: 40px;
      width: 100%;
      display: flex; }
      header nav .container-fluid .navbar-header > a {
        padding-top: 0;
        padding-bottom: 0;
        height: auto;
        font-size: 14px;
        line-height: 25px;
        outline: none; }
      header nav .container-fluid .navbar-header .input-group {
        max-width: 300px;
        display: inline-flex;
        margin-left: auto;
        margin-right: auto;
        width: 300px; }
        header nav .container-fluid .navbar-header .input-group input {
          border-radius: 30px; }
        header nav .container-fluid .navbar-header .input-group button {
          position: absolute;
          left: -40px;
          z-index: 4;
          padding: 4px 12px;
          margin: 3px auto;
          border: none;
          border-radius: 30px; }
        header nav .container-fluid .navbar-header .input-group button:hover {
          background: transparent; }
        header nav .container-fluid .navbar-header .input-group button:focus {
          background: transparent;
          -moz-appearance: none;
          -webkit-appearance: none;
          outline: 0; }
        header nav .container-fluid .navbar-header .input-group button:active {
          box-shadow: none; }
    header nav .container-fluid .navbar-right {
      margin-right: 0;
      display: inline-flex; }
      header nav .container-fluid .navbar-right a {
        display: inline-flex;
        margin-left: 10px;
        margin-right: 0;
        cursor: pointer;
        color: #d0d0d0;
        -webkit-justify-content: center;
        justify-content: center;
        -webkit-align-items: center;
        align-items: center;
        height: 30px;
        width: 30px;
        border: 1px solid #d0d0d0;
        -moz-border-radius: 20px;
        -webkit-border-radius: 20px;
        border-radius: 20px;
        text-decoration: none;
        transition: 0.4s; }
        header nav .container-fluid .navbar-right a .badge {
          -moz-border-radius: 20px;
          -webkit-border-radius: 20px;
          border-radius: 20px;
          position: absolute;
          top: -9px;
          left: 17px;
          background-color: #e77075;
          padding: 4px 7px;
          display: none; }
      header nav .container-fluid .navbar-right .panel-highlight:hover {
        background-color: #e77075;
        color: #ffffff; }
      header nav .container-fluid .navbar-right .cart {
        margin-left: 25px;
        margin-right: 20px;
        border: 0;
        width: auto;
        position: relative; }
      header nav .container-fluid .navbar-right .cart:hover {
        color: #999999; }
header ul {
  position: relative;
  float: left; }

main .border {
  background-color: #eee; }
  main .border .border-text {
    display: inline-block; }
    main .border .border-text h1 {
      font-weight: bold;
      font-size: 30px;
      border-bottom: 7px solid black;
      padding-bottom: 5px;
      text-transform: uppercase;
      margin-top: 164px;
      margin-bottom: 0;
      color: black; }
    main .border .border-text h2 {
      font-weight: bold;
      font-size: 80px;
      border-bottom: 7px solid black;
      text-transform: uppercase;
      margin-top: 4px;
      margin-bottom: 29px;
      color: black;
      padding-bottom: 5px; }
    main .border .border-text p {
      max-width: 550px;
      font-weight: normal;
      font-size: 14px;
      line-height: 25px;
      margin-bottom: 26px;
      color: #a8a2a3; }
    main .border .border-text .cl-effect {
      display: inline-block;
      margin-bottom: 133px; }
    main .border .border-text .cl-effect a {
      position: relative;
      display: inline-block;
      padding: 0;
      outline: 0;
      border: 0;
      color: black;
      text-decoration: none;
      text-shadow: 0 0 1px rgba(255, 255, 255, 0.8); }
    main .border .border-text .cl-effect a:focus, main .border .border-text .cl-effect a:hover {
      outline: 0; }
    main .border .border-text .cl-effect a {
      perspective: 1000px;
      z-index: 1; }
    main .border .border-text .cl-effect a:hover {
      z-index: 2; }
    main .border .border-text .cl-effect a span {
      font-size: 14px;
      font-family: "Open Sans Semibold";
      padding-top: 16px;
      padding-bottom: 16px;
      background-color: white;
      color: black;
      border: 2px solid black;
      width: 180px;
      position: relative;
      display: inline-block;
      -webkit-transition: -webkit-transform 0.3s;
      -moz-transition: -moz-transform 0.3s;
      transition: transform 0.3s;
      -webkit-transform-origin: 50% 0;
      -moz-transform-origin: 50% 0;
      transform-origin: 50% 0;
      -webkit-transform-style: preserve-3d;
      -moz-transform-style: preserve-3d;
      transform-style: preserve-3d;
      z-index: 1; }
    main .border .border-text .cl-effect a span:before {
      font-size: 14px;
      font-family: "Open Sans Semibold";
      padding-top: 14px;
      padding-bottom: 14px;
      background-color: black !important;
      border: 2px solid black;
      color: white !important;
      display: block;
      position: absolute;
      top: 100%;
      left: -2px;
      width: calc(100% + 4px);
      height: 100%;
      content: attr(data-hover);
      -webkit-transition: all 0.3s;
      -moz-transition: all 0.3s;
      transition: all 0.3s;
      -webkit-transform: rotateX(-90deg);
      -moz-transform: rotateX(-90deg);
      transform: rotateX(-90deg);
      -webkit-transform-origin: 50% 0;
      -moz-transform-origin: 50% 0;
      transform-origin: 50% 0;
      opacity: 0; }
    main .border .border-text .cl-effect a:focus span, main .border .border-text .cl-effect a:hover span {
      -webkit-transform: rotateX(90deg) translateY(-22px);
      -moz-transform: rotateX(90deg) translateY(-22px);
      transform: rotateX(90deg) translateY(-22px); }
    main .border .border-text .cl-effect a:focus span:before, main .border .border-text .cl-effect a:hover span:before {
      background: #fff;
      color: #000;
      opacity: 1; }
main .poster .container .nav-content a {
  border-radius: 0;
  border-color: #f7f7f7;
  background-color: #f7f7f7;
  color: black;
  font-size: 15px;
  transition: 0.5s;
  outline: 0; }
main .poster .container .nav-content a:hover {
  border-color: black;
  background-color: black;
  color: white; }
  main .poster .container .nav-content a:hover i {
    transform: scale(1.5);
    margin-bottom: 5px; }
main .poster .container .nav-content p {
  text-transform: uppercase;
  font-size: 25px;
  font-family: "Open Sans Semibold";
  margin: 0;
  position: relative; }
main .poster .container .nav-content p:before, main .poster .container .nav-content p:after {
  content: "";
  position: absolute;
  height: 50%;
  border-bottom: 2px solid #dadada;
  top: 0;
  width: 25px; }
main .poster .container .nav-content p:before {
  right: 100%;
  margin-right: 8px; }
main .poster .container .nav-content p:after {
  left: 100%;
  margin-left: 8px; }

.new-content .gallery {
  margin-bottom: 56px; }
  .new-content .gallery p {
    margin-top: 16px;
    margin-bottom: 15px;
    font-family: "Open Sans Regular"; }
  .new-content .gallery .rating-container {
    color: #aba8a8; }
  .new-content .gallery .star-rating {
    font-size: 13px;
    display: inline-block;
    float: right; }
  .new-content .gallery .rating-stars {
    color: black !important; }
  .new-content .gallery .price {
    color: #e77075; }
  .new-content .gallery a {
    font-weight: bold;
    color: black;
    text-decoration: none; }
  .new-content .gallery .stars {
    display: inline-block;
    float: right; }
.new-content .gallery-item {
  cursor: pointer;
  position: relative;
  width: 270px;
  height: 346px; }
  .new-content .gallery-item img {
    width: 100%;
    height: auto; }

footer {
  background-color: #eee; }
  footer .row {
    margin-top: 40px; }
  footer .dobble-row {
    margin-left: -30px;
    margin-right: -30px;
    max-width: 324px; }
    footer .dobble-row .info a {
      color: #2f2f2f !important; }
      footer .dobble-row .info a:first-child {
        color: #e77075 !important;
        font-family: "Open Sans Semibold";
        margin-bottom: 22px; }
        footer .dobble-row .info a:first-child i {
          margin-right: 5px;
          color: white;
          width: 16px;
          text-align: center;
          padding-left: 2px;
          background-color: #e77075;
          border: 1px solid #e77075;
          -webkit-border-radius: 30px;
          -moz-border-radius: 30px;
          border-radius: 30px; }
    footer .dobble-row .us-links {
      color: #aba8a8;
      text-decoration: none;
      display: block;
      margin-bottom: 18px; }
    footer .dobble-row h4 {
      text-transform: uppercase;
      font-weight: bold;
      font-size: 18px;
      margin-bottom: 23px; }
    footer .dobble-row p {
      font-family: "Open Sans Regular";
      color: #aba8a8; }
    footer .dobble-row .contact a {
      margin-bottom: 18px;
      display: block;
      color: #aba8a8; }
      footer .dobble-row .contact a .marg {
        margin-right: 17px; }
  footer .nwlt {
    margin-left: 0; }
    footer .nwlt input {
      margin-bottom: 23px;
      -webkit-border-radius: 15px;
      -moz-border-radius: 15px;
      border-radius: 15px; }
    footer .nwlt .cards {
      margin-top: 42px; }
      footer .nwlt .cards img {
        height: 40px;
        width: auto; }
  footer .copyright {
    background-color: white;
    padding-top: 15px;
    padding-bottom: 15px; }
    footer .copyright .row {
      margin-left: -30px;
      margin-right: -30px; }
      footer .copyright .row li a {
        color: #848484;
        outline: none; }
      footer .copyright .row .disabled {
        float: right; }

.social {
  align-items: center;
  margin-left: auto;
  justify-content: flex-end; }
  .social a {
    border: none !important;
    font-size: 16px;
    color: #2f2f2f;
    cursor: pointer; }
  .social .facebook:hover {
    color: #3b55a0; }
  .social .twitter:hover {
    color: #1b95e0; }
  .social .google-plus:hover {
    color: red; }
  .social .dribbble:hover {
    color: #e77075; }
  .social .linkedin:hover {
    color: dodgerblue; }
  .social .linkedin {
    margin-right: -5px !important; }

/*# sourceMappingURL=style.css.map */
