<div class="shop">
    <div class="container">
        <div class="row">
            <div class="new-arrival">

            </div>
        </div>
    </div>
</div>
<div class="border">
    <div class="container">
        <div class="row">
            <div class="border-text">
                <h1>Create a new lookbook 2016</h1>
                <h2>Upto 80% off</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut non ligula quisorcidaus efficitur. Sed ex elit,
                    ultrices et maximus consequat, porttitor a mauris. Interdum et malesuada</p>
                <a class="btn btn-shop btn-lg">SHOP NOW</a>
            </div>


        </div>

    </div>
</div>
<script>
    $(".gallery").find('input').rating();

</script>